@model MindSprings_.NET_Developer_Test.Models.TranslationModel

@{
    ViewBag.Title = "Translation";
}

<h2>Translation</h2>

@using (Html.BeginForm("Translate", "Translation", FormMethod.Post, new { id = "translationForm" }))
{
    @Html.ValidationSummary(true)
    <div>
        @Html.LabelFor(m => m.InputText)
        <br />
        @Html.TextAreaFor(m => m.InputText, new { rows = 4, cols = 50 })
        @Html.ValidationMessageFor(m => m.InputText)
    </div>
    <div>
        <input type="submit" id="submitBtn" value="Translate" />
    </div>
}

<div id="translatedText"></div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#translationForm').submit(function (e) {
                e.preventDefault();

                $.ajax({
                    url: '@Url.Action("Translate", "Translation")',
                    type: 'POST',
                    data: $('#translationForm').serialize(),
                    success: function (result) {
                        $('#translatedText').text(result.translatedText);
                    },
                    error: function () {
                        alert('An error occurred during translation.');
                    }
                });
            });
        });
    </script>
}
